<div class="card-1 card-2">
  <div>
    <div>
      <%= image_tag 'https://www.kindpng.com/picc/m/198-1980021_food-vector-food-icon-png-transparent-png.png' %>
    </div>
    <div>
      <p>Food</p>
      <small>12, Apr, 2022</small>
    </div>
  </div>
  <div>
    <p>$150.00</p>
  </div>
</div>