<div class="card-1 card-2">
  <div>
    <div>
      <%= image_tag category.icon %>
    </div>
    <div>
      <p><%= category.name %></p>
      <small><%= category.created_at %></small>
    </div>
  </div>
  <div>
    <p>$150.00</p>
  </div>
</div>
